@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 226 39% 27%;
    --foreground: 0 0% 100%;

    --card: 226 28% 19%;
    --card-foreground: 0 0% 100%;

    --popover: 226 28% 19%;
    --popover-foreground: 0 0% 100%;

    --primary: 215 55% 45%;
    --primary-foreground: 0 0% 100%;

    --secondary: 226 28% 19%;
    --secondary-foreground: 0 0% 100%;

    --muted: 226 28% 19%;
    --muted-foreground: 213 31% 69%;

    --accent: 226 28% 19%;
    --accent-foreground: 0 0% 100%;

    --destructive: 3 86% 66%;
    --destructive-foreground: 0 0% 100%;

    --border: 226 28% 19%;
    --input: 226 28% 19%;
    --ring: 215 55% 45%;

    --radius: 1.5rem;

    --app-background: 226 39% 27%;
    --camera-card: 226 28% 19%;
    --live-indicator: 3 86% 66%;
    --ip-address: 213 31% 69%;
    --camera-view: 0 0% 7%;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 226 39% 27%;
    --foreground: 0 0% 100%;

    --card: 226 28% 19%;
    --card-foreground: 0 0% 100%;

    --popover: 226 28% 19%;
    --popover-foreground: 0 0% 100%;

    --primary: 215 55% 45%;
    --primary-foreground: 0 0% 100%;

    --secondary: 226 28% 19%;
    --secondary-foreground: 0 0% 100%;

    --muted: 226 28% 19%;
    --muted-foreground: 213 31% 69%;

    --accent: 226 28% 19%;
    --accent-foreground: 0 0% 100%;

    --destructive: 3 86% 66%;
    --destructive-foreground: 0 0% 100%;

    --border: 226 28% 19%;
    --input: 226 28% 19%;
    --ring: 215 55% 45%;

    --sidebar-background: 226 28% 19%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 215 55% 45%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 226 28% 19%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 226 28% 19%;
    --sidebar-ring: 215 55% 45%;

    --app-background: 226 39% 27%;
    --camera-card: 226 28% 19%;
    --live-indicator: 3 86% 66%;
    --ip-address: 213 31% 69%;
    --camera-view: 0 0% 7%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
